#wrapper {
  justify-content : space-around;
  margin-bottom: 20px;
}

#wrapper h3 {
  font-family: 'Questrial', sans-serif;
  color: #c9302c;
}

.form-login {
   padding: 10px 10px;
   background: #E8A8A6 ;
   border-radius: 3px;
   box-shadow: 1px 1px 1px #ECECEC ;
   margin: 30px;
}

.image-new {
  max-width: 350px;
  border-radius: 10px;
}
