.container{
  width: 1170px;
  padding-top: 30px;
  background-size: cover !important;
}

.form {
  border-radius: 3px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: white;
  border: 0.1px solid #E6E6E6;
  margin-right: 10px;
  margin-left: 100px;
  margin-top: 70px;
}

.form h2 {
  font-weight: bold;
  color: #4C4C4C;
}

