.wrapper-dashboard {
  width: 75%;
  justify-content: text-center;
  margin: 0 auto;
}

.dashboard {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
  font-family: 'Kalam', cursive;
}
.product-body p {
  font-weight: lighter;
  color: #4C4C4C;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
  height: 145px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.dashboard:hover {
  background: #f7f7fa;
  cursor: pointer;
}

// .product:hover .product-upvote { transform: scale(1.2) }
.dashboard:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }


.congrat-text {
  font-weight: bolder;
  font-family: 'Kalam', cursive;
}

.pdt-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 270px;
  height: 215px;
}

.btn-default {
  color: #4C4C4C;
  border: solid #4C4C4C;
}


.btn-default:hover {
  color: white;
  background-color: black;
}

.product-body h4 {
  font-size: 17px;
  color: #4C4C4C;
  margin-bottom: 20px;
  margin-left: 20px;
}

.product-body h2 {
    font-weight: bold;
    font-size: 27px;
    margin-top: 2px;
    font-family: 'Kalam', cursive;
    margin-bottom: 50px;
    margin-left: 18px;
}
