.container {
  width: 1170px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.form {
  border-radius: 3px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: white;
  padding-bottom: 30px;
}

.form h2 {
  font-weight: bold;
  color: #4C4C4C;
}

