<div id="footer">
  <div class="container text-center">
 <div class="col-xs-4 col-sm-12 ">
    <div class="row">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
