<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-instagram fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
      <p>Made with <i class="fa fa-heart"></i> @LeWagon</p>
      </div>
    </div>
  </div>
</div>
