<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('background-try.jpg');">
  <div class="banner-content">
    <h1>SHARE A BED</h1>
    <p>Don't sleep alone anymore ! Find a warm double bed </p>

  <div class="search-bar">
    <form action="/beds_path" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="Paris">
      <input type="text" class="form-control border-radius input-lg" placeholder="Checkin - Checkout">
      <select name="" id="" class="form-control border-radius input-lg">
        <option value="1">Man</option>
        <option value="2">Woman</option>
        <option value="3">Both</option>
      </select>
      <input type="submit" class="btn btn-danger btn-lg" value="Search">
    </form>
  </div>
  </div>
</div>

