<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background-try.jpg');">
  <div class="banner-content">
    <h1>SHARE A BED</h1>
    <p>Don't sleep alone anymore and find a warm double bed</p>

  <div class="search-bar">
    <form action="/beds" class="form-inline padded">
      <input type="text" class="form-control input-lg" placeholder="Paris">
      <select name="" id="" class="form-control input-lg">
        <option value="1">Boy</option>
        <option value="2">Girl</option>
        <option value="3">Both</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
  </div>
</div>

