.card {
  height: 65px;
  background-size: cover !important;
  color: black;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}

.showmaincard {
  height: 300px;
  margin-top: 20px;
}

.card-image {
  height: 175px;
  background-size: cover !important;
  position: relative;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  image-position: center;
  background-position: center;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-first-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 10px;
  left: 10px;
  padding-bottom: 10px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 13px;
}

.card-price {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}

#city {
  color: #EC605F;
}

.card-price h2{
  font-size: 20px;
  margin-top: 10px;
}

.cardContainer {
  box-shadow: 2px 4px 5px #E8F1F5;
  border-radius: 4px;
}

.cardContainer:hover{
  opacity: 0.5;
}


.wagoncard {
  height: 300px;

  background-size: cover !important;
  color: #999999;
  position: relative;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  border-radius: 4px
}
.wagoncard-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.wagoncard-category {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 20px;
  text-transform: uppercase;
}
.wagoncard-description {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.wagoncard-detail {
  position: absolute;
  top: 50px;
  left: 15px;
}


.wagoncard-description h2 {
  font-size: 24px;
}
// .wagoncard-description p {
//   font-size: 13px;
//   }
.wagoncard-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.wagoncard-link:hover{
  opacity: 0.1;
}

.wagoncard-listing-description{
  position: absolute;
  bottom: 10px;
  left: 15px;
}
